/**
 * Admin CMS Styles
 *
 * @author       JoeShon Monroe <jmonroe@xstudios.agency>
 * @copyright    2015 X Studios
 * @link         http://xstudios.agency
 *
 * This file is part of proprietary software and use of this file
 * is strictly prohibited without the written consent of the owner.
 */
#wpwrap #woocommerce_errors.fade {
  opacity: 1 !important;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
