/**
 * X Studios Styles
 *
 * @author       JoeShon Monroe <jmonroe@xstudios.agency>
 * @copyright    2015 X Studios
 * @link         http://xstudios.agency
 *
 * This file is part of proprietary software and use of this file
 * is strictly prohibited without the written consent of the owner.
 */
/**
*
* Global
*
**/
h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
}
.spacer-top {
  margin-top: 30px;
}
.spacer-bottom {
  margin-bottom: 30px;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.file-input-label {
  padding: 0px 10px;
  display: table-cell;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 4px;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #882629;
}
#sc_chat_box div.sc-chat-header {
  background-color: #882629;
}
.title-center {
  text-align: center;
  font-size: 26px;
  margin: 40px 0;
}
.title-center span {
  display: inline-block;
  position: relative;
}
.title-center span:before,
.title-center span:after {
  content: "";
  position: absolute;
  height: 1px;
  border-top: 1px solid #dddddd;
  top: 18px;
  width: 600px;
}
.title-center span:before {
  right: 100%;
  margin-right: 30px;
}
.title-center span:after {
  left: 100%;
  margin-left: 30px;
}
/**
 * Footer
 */
footer.main-footer {
  background: #ebebeb !important;
  padding-top: 55px;
  padding-bottom: 30px;
}
footer.main-footer .address-company {
  display: inline-block;
  text-align: left;
  width: 100%;
  font-size: 14px;
}
footer.main-footer .address-company span.address {
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #767676 !important;
  padding: 45px 0 40px;
}
.btn,
.button,
.wishlist_table .add_to_cart.button,
.wpcf7-submit {
  background-color: #fff;
}
/**
*
* Home
*
**/
body.home h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 26px;
  color: #3f3f3f;
  margin: 0;
}
body.home h2.title-center {
  margin: 40px 0;
}
body.home #home-categories {
  background-color: #882629;
  padding-bottom: 2px;
  text-transform: uppercase;
}
body.home #home-categories .title {
  text-transform: uppercase;
  padding: 20px;
  color: white;
  font-size: 16px;
  text-align: left;
  margin: 0;
}
body.home #home-categories .title:before {
  display: none;
}
body.home #home-categories a.category {
  display: block;
  padding: 15px 20px;
  background: white;
  border-bottom: 1px solid #e9e9e9;
  margin: 0 2px;
  font-size: 16px;
}
body.home #home-categories a.category:last-child {
  border-bottom: 0;
}
body.home #home-slider-box {
  position: relative;
}
body.home #home-slider-box .pager {
  position: absolute;
  bottom: 16px;
  width: 100%;
  margin: 0;
  z-index: 100;
}
body.home #home-slider-box .pager span {
  display: inline-block;
  width: 9px;
  height: 9px;
  background: #999999;
  border-radius: 4.5px;
  margin: 0 5px;
}
body.home #home-slider-box .pager span.cycle-pager-active {
  background: #7c7c7c;
}
body.home #home-slider {
  position: relative;
  opacity: 0;
}
body.home #home-slider div.slide {
  width: 100%;
}
body.home #home-slider div.slide img {
  display: block;
  margin: 0;
}
body.home .container.about {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  border: 4px solid #f7f7f7;
}
body.home .container.about .subtitle {
  margin: 0 0 15px 0;
}
body.home .container.about .line {
  width: 40px;
  height: 2px;
  background: #e6e6e6;
}
body.home .container.about .desc {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
}
body.home .container.quality {
  padding-top: 30px;
  padding-bottom: 60px;
}
body.home .container.quality .subtitle {
  margin: 0 0 15px 0;
}
body.home .container.quality .line {
  width: 40px;
  height: 2px;
  background: #e6e6e6;
  margin-bottom: 60px;
}
body.home .container.quality ul li {
  background-image: url(../images/icon-star.png);
  background-repeat: no-repeat;
  min-height: 14px;
  padding: 0 0 0 24px;
  font-size: 16px;
  margin-bottom: 30px;
}
body.home .container.quality ul li:last-child {
  margin-bottom: 0;
}
body.home .container.quality .call {
  text-align: center;
  color: #282828;
  margin-top: 60px;
}
body.home .container.quality .call .btn-shop {
  padding: 10px 25px;
  display: inline-block;
  border: 1px solid #282828;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
body.home .container.quality .call .btn-shop:hover {
  background-color: #882629;
  color: white;
  border-color: #dddddd;
}
body.home .container.quality .call .number {
  color: #282828;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0;
}
body.home .product-navigation .next-product .hide-info {
  left: -200px;
}
body.home .products-loop .product-image-wrapper {
  background: #f9f9f9;
}
body.home .products-loop .footer-product a {
  color: white;
}
body.home .products-loop .add_to_cart {
  font-family: 'Roboto', sans-serif;
  font-size: 13px !important;
  font-weight: 500;
  border: 1px solid #dddddd;
}
body.home .products-loop .add_to_cart .ico-smallpacket {
  background-image: url(../images/icon-loop-bag.png);
  background-repeat: no-repeat;
  width: 10px;
  height: 13px;
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
}
body.home .products-loop .add_to_cart:hover {
  background-color: #882629;
}
body.home .products-loop .add_to_cart:hover .ico-smallpacket {
  background-image: url(../images/icon-loop-white-bag.png);
}
@media screen and (min-width: 1200px) {
  body.home .row-count-4 .product {
    width: 25%;
  }
}
@media screen and (max-width: 992px) {
  body.home .row-count-4 .col-xs-3 {
    width: 50%;
  }
}
@media only screen and (max-width: 979px) and (min-width: 768px) {
  body.home .row-count-2 .product:nth-child(2n+1),
  body.home .row-count-3 .product:nth-child(3n+1),
  body.home .row-count-4 .product:nth-child(3n+1),
  body.home .row-count-5 .product:nth-child(3n+1),
  body.home .row-count-6 .product:nth-child(3n+1) {
    clear: none;
  }
}
@media only screen and (min-width: 980px) {
  body.home .row-count-2 .product:nth-child(2n+1) .row-count-3 .product:nth-child(3n+1),
  body.home .row-count-4 .product:nth-child(3n+1),
  body.home .row-count-5 .product:nth-child(3n+1),
  body.home .row-count-6 .product:nth-child(3n+1) {
    clear: none;
  }
}
/**
 * Product Listing
 */
.post-type-archive-product .pagination-cubic li span.page-numbers.current {
  color: white;
  background: #882629;
}
.archive .products-grid .product-title {
  font-size: 16px;
}
/**
*
* Single Product
*
**/
.single-product .product-images-slider .owl-item {
  background: none;
}
.single-product .product-information .cart button[type="submit"] {
  background: #333;
  color: white;
}
.single-product .variations_button .buttons-box,
.single-product .composite_button .buttons-box {
  display: inline-block;
  max-width: 80%;
}
.single-product .variations_button .buttons-box .button,
.single-product .composite_button .buttons-box .button {
  margin: 0 0 10px 0;
}
.single-product form.composite_form .component .component_title.product_title {
  font-size: 18px;
}
.single-product form.composite_form .component .component_options,
.single-product form.composite_form .component .component_content {
  padding-left: 40px;
}
.single-product form.composite_form .component .component_summary .product {
  padding: 0;
}
.single-product form.composite_form .component .component_selections .composited_product_title.product_title {
  font-size: 14px;
}
.single-product form.composite_form .component .component_wrap .price {
  font-size: 16px;
  margin-top: 0;
}
.single-product .product-type-composite .type-label-2 {
  display: none;
}
/**
 * Cart
 */
.woocommerce-cart .cart-collaterals .checkout-button {
  background-color: #262626;
  color: white;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: background 0.25s ease-in;
  -ms-transition: background 0.25s ease-in;
  -o-transition: background 0.25s ease-in;
  transition: background 0.25s ease-in;
}
.woocommerce-cart .cart-collaterals .checkout-button:hover {
  color: #882629;
}
.woocommerce-cart .cart-item-details h3 {
  font-size: 12px;
}
.woocommerce-cart .cart-item-details .design-preview {
  max-width: 100px;
}
.woocommerce-cart .cart-item-details #uploaded_files {
  padding: 0;
}
.woocommerce-cart .cart-item-details #uploaded_files li {
  margin-bottom: 10px;
  display: inline-block;
}
.woocommerce-cart .cart-item-details #uploaded_files li img {
  width: 50px;
  border: 1px solid #ccc;
}
.woocommerce-cart .cart-item-details .variation dt,
.woocommerce-cart .cart-item-details .variation dd {
  font-size: 12px;
}
.woocommerce-cart .cart-item-details p.item-name a {
  font-size: 0.65em;
  font-weight: 600;
}
/**
 * Checkout
 */
.woocommerce-checkout #shipping_method .shop_table .shipping th {
  width: 100px;
}
.woocommerce-checkout #wc-authorize-net-cim-credit-card-credit-card-form .form-row {
  margin-left: 0;
}
/**
 * Contact
 */
.page-template-template-contact #map {
  width: 100%;
  height: 300px;
  background: #ccc;
  margin-bottom: 60px;
}
.page-template-template-contact #map-info .logo {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
.page-template-template-contact #map-info p {
  margin-bottom: 0;
}
.page-template-template-contact #contact-form {
  margin-bottom: 30px;
}
.page-template-template-contact #contact-form .input-box {
  margin-bottom: 20px;
}
.page-template-template-contact #contact-form textarea {
  height: 200px;
}
/**
 * Upload Design Files
 */
.page-template-template-uploaddesign .files,
.page-template-template-uploaddesign .uploaded-files {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
.page-template-template-uploaddesign .files .input-group-btn .btn,
.page-template-template-uploaddesign .uploaded-files .input-group-btn .btn {
  height: 39px;
  padding: 0 20px !important;
  line-height: 37px !important;
  border-width: 1px;
}
.page-template-template-uploaddesign .files .input-group-btn .btn.remove,
.page-template-template-uploaddesign .uploaded-files .input-group-btn .btn.remove {
  background-color: #d2322d;
  color: white;
  border-color: black;
  border-width: 1px;
}
.page-template-template-uploaddesign .files .file-input-label,
.page-template-template-uploaddesign .uploaded-files .file-input-label {
  border-color: #252525;
  border-left-width: 0;
}
.page-template-template-uploaddesign .files .file-box,
.page-template-template-uploaddesign .uploaded-files .file-box {
  margin-bottom: 15px;
}
.page-template-template-uploaddesign .files .file-box label.error,
.page-template-template-uploaddesign .uploaded-files .file-box label.error {
  margin-top: 10px;
  padding: 8px;
}
.page-template-template-uploaddesign .files .file-box:last-child,
.page-template-template-uploaddesign .uploaded-files .file-box:last-child {
  margin-bottom: 0;
}
.page-template-template-uploaddesign .uploaded-files .file-input-label {
  border-color: #252525;
  border-left-width: 1px;
}
