/**
 * X Studios Styles
 *
 * @author       JoeShon Monroe <jmonroe@xstudios.agency>
 * @copyright    2015 X Studios
 * @link         http://xstudios.agency
 *
 * This file is part of proprietary software and use of this file
 * is strictly prohibited without the written consent of the owner.
 */

/**
*
* Global
*
**/

h1, h2, h3 {
    font-family: 'Raleway', sans-serif,
}

.spacer-top {
    margin-top: 30px;
}

.spacer-bottom {
    margin-bottom: 30px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.file-input-label {
    padding: 0px 10px;
    display: table-cell;
    vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 4px;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #882629;
}

#sc_chat_box {
    div.sc-chat-header {
        background-color: #882629;
    }
}

.title-center {
    text-align: center;
    font-size: 26px;
    margin: 40px 0;
}
.title-center span {
    display: inline-block;
    position: relative;  
}
.title-center span:before,
.title-center span:after {
    content: "";
    position: absolute;
    height: 1px;
    border-top: 1px solid #dddddd;
    top: 18px;
    width: 600px;
}
.title-center span:before {
    right: 100%;
    margin-right: 30px;
}
.title-center span:after {
    left: 100%;
    margin-left: 30px;
}


/**
 * Footer
 */
footer.main-footer {
    background: #ebebeb !important;
    padding-top: 55px;
    padding-bottom:  30px;

    .address-company {
        display: inline-block;
        text-align: left;
        width: 100%;
        font-size: 14px;

        span.address {
            text-align: left;
            font-family: 'Raleway', sans-serif;
            font-size: 14px;
            font-weight: 300;
            color: #767676 !important;
            padding: 45px 0 40px;
        }
    }
}

// Buttons
.btn, .button, .wishlist_table .add_to_cart.button, .wpcf7-submit {
    background-color: #fff;
}

/**
*
* Home
*
**/

body.home {

    h2 {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 26px;
        color: #3f3f3f;
        margin: 0;

        &.title-center {
            margin: 40px 0;
        }
    }

    #home-categories {
        background-color: #882629;
        padding-bottom: 2px;
        text-transform: uppercase;

        .title {
            text-transform: uppercase;
            padding: 20px;
            color: white;
            font-size: 16px;
            text-align: left;
            margin: 0;

            &:before {
                display: none;
            }
        }

        a.category {
            display: block;
            padding: 15px 20px;
            background: white;
            border-bottom: 1px solid #e9e9e9;
            margin: 0 2px;
            font-size: 16px;

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    #home-slider-box {
        position: relative;

        .pager {
            position: absolute;
            bottom: 16px;
            width: 100%;
            margin: 0;
            z-index: 100;

            span {
                display: inline-block;
                width: 9px;
                height: 9px;
                background: #999999;
                border-radius: 4.5px;
                margin: 0 5px;

                &.cycle-pager-active {
                    background: #7c7c7c;
                }
            }
        }
    }

    #home-slider {
        position: relative;
        opacity: 0;

        div.slide {
            width: 100%;
            img {
                display: block;
                margin: 0;
            }
        }
    }

    .container {
        &.about {
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 30px;
            padding-bottom: 30px;
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            border: 4px solid #f7f7f7;

            .subtitle {
                margin: 0 0 15px 0;
            }

            .line {
                width: 40px;
                height: 2px;
                background: #e6e6e6;
            }

            .desc {
                margin-top: 15px;
                margin-bottom: 0;
                font-size: 16px;
                line-height: 24px;
            }
        }

        &.quality {

            padding-top: 30px;
            padding-bottom: 60px;

            .subtitle {
                margin: 0 0 15px 0;
            }

            .line {
                width: 40px;
                height: 2px;
                background: #e6e6e6;
                margin-bottom: 60px;
            }

            ul {

                li {
                    background-image: url(../images/icon-star.png);
                    background-repeat: no-repeat;
                    min-height: 14px;
                    padding: 0 0 0 24px;
                    font-size: 16px;
                    margin-bottom: 30px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .call {
                text-align: center;
                color: #282828;
                margin-top: 60px;

                .btn-shop {
                    padding: 10px 25px;
                    display: inline-block;
                    border: 1px solid #282828;
                    text-transform: uppercase;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 700;
                    font-size: 13px;
                    letter-spacing: 1px;
                    margin-bottom: 15px;

                    &:hover {
                        background-color: #882629;
                        color: white;
                        border-color: #dddddd;
                    }
                }

                .number {
                    color: #282828;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 15px;
                    font-weight: 600;
                    margin-bottom: 0;
                }
            }
        }
    }

    .product-navigation {
        .next-product {
            .hide-info {
                left: -200px;
            }
        }
    }

    .products-loop {
        .product-image-wrapper {
            background: #f9f9f9;
        }

        .footer-product a {
            color: white;
        }

        .add_to_cart {
            font-family: 'Roboto', sans-serif;
            font-size: 13px !important;
            font-weight: 500;
            border: 1px solid #dddddd;

            .ico-smallpacket {
                background-image: url(../images/icon-loop-bag.png);
                background-repeat: no-repeat;
                width: 10px;
                height: 13px;
                display: inline-block;
                vertical-align: top;
                margin-right: 16px;
            }

            &:hover {
                background-color: #882629;

                .ico-smallpacket {
                    background-image: url(../images/icon-loop-white-bag.png);
                }
            }
        }
    }

    @media screen and (min-width: 1200px) {
        .row-count-4 .product {
            width: 25%;
        }
    }

    @media screen and (max-width: 992px) {
        .row-count-4 .col-xs-3 {
            width: 50%;
        }
    }

    @media only screen and (max-width: 979px) and (min-width: 768px) {
        .row-count-2 .product:nth-child(2n+1), .row-count-3 .product:nth-child(3n+1), .row-count-4 .product:nth-child(3n+1), .row-count-5 .product:nth-child(3n+1), .row-count-6 .product:nth-child(3n+1) {
            clear: none;
        }
    }
    @media only screen and (min-width: 980px) {
        .row-count-2 .product:nth-child(2n+1) .row-count-3 .product:nth-child(3n+1), .row-count-4 .product:nth-child(3n+1), .row-count-5 .product:nth-child(3n+1), .row-count-6 .product:nth-child(3n+1) {
          clear: none;
        }
    }

    
}

/**
 * Product Listing
 */

.post-type-archive-product {

    .pagination-cubic li {

        span.page-numbers.current {
            color: white;
            background: #882629;
        }
    }
}

.archive {
    .products-grid {
        .product-title {
            font-size: 16px;
        }
    }
}

/**
*
* Single Product
*
**/

.single-product {

    .product-images-slider {
        .owl-item {
            background: none;
        }
    }
    .product-information .cart button[type="submit"] {

        background: #333;
        color: white;

    }

    .variations_button, .composite_button {
        .buttons-box {
            display: inline-block;
            max-width: 80%;

            .button {
                margin: 0 0 10px 0;
            }
        }
    }

    form.composite_form {

        .component {
            .component_title.product_title {
                font-size: 18px;
            }

            .component_options, .component_content {
                padding-left: 40px;
            }

            .component_summary {
                .product {
                    padding: 0;
                }
            }

            .component_selections {
                .composited_product_title.product_title {
                    font-size: 14px;
                }
            }

            .component_wrap {
                .price {
                    font-size: 16px;
                    margin-top: 0;
                }
            }
        }

    }

    .product-type-composite {
        .type-label-2 {
            display: none;
        }
    }
}


/**
 * Cart
 */

.woocommerce-cart {
    .cart-collaterals .checkout-button {
        background-color: #262626;
        color: white;
        -webkit-font-smoothing: antialiased;
        -webkit-transition: background 0.25s ease-in;
        -ms-transition: background 0.25s ease-in;
        -o-transition: background 0.25s ease-in;
        transition: background 0.25s ease-in;

        &:hover {
            color: #882629;
        }
    }

    .cart-item-details {

         h3 {
            font-size: 12px;
         }

         .design-preview {
            max-width: 100px;

         }

        #uploaded_files {
            padding: 0;

            li {
                margin-bottom: 10px;
                display: inline-block;

                img {
                    width: 50px;
                    border: 1px solid #ccc;
                }
            }
        }

        .variation {
            dt, dd {
                font-size: 12px;
            }
        }

        p.item-name a {
            font-size: 0.65em;
            font-weight: 600;
        }
    }
}

/**
 * Checkout
 */

.woocommerce-checkout {
    #shipping_method {
        .shop_table .shipping th {
            width: 100px;
        }
    }
    
    #wc-authorize-net-cim-credit-card-credit-card-form {
        .form-row {
            margin-left: 0;
        }
    }
}

/**
 * Contact
 */

.page-template-template-contact {
     #map {
        width: 100%;
        height: 300px;
        background: #ccc;
        margin-bottom: 60px;
     }

     #map-info {
        .logo {
            width: 100%;
            display: block;
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 0;
        }
     }

     #contact-form {
        margin-bottom: 30px;

        .input-box {
            margin-bottom: 20px;
        }
        textarea {
            height: 200px;
        }
     }
}

/**
 * Upload Design Files
 */

.page-template-template-uploaddesign {

    .files, .uploaded-files {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #ccc;

        .input-group-btn {
            .btn {
                height: 39px;
                padding: 0 20px !important;
                line-height: 37px !important;
                border-width: 1px;

                &.remove {
                    background-color: #d2322d;
                    color: white;
                    border-color: black;
                    border-width: 1px;
                }
            }
        }

        .file-input-label {
            border-color: #252525;
            border-left-width: 0;
        }

        .file-box {
            margin-bottom: 15px;

            label.error {
                margin-top: 10px;
                padding: 8px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .uploaded-files {
        .file-input-label {
            border-color: #252525;
            border-left-width: 1px;
        }
    }

}

